.modal {
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  outline: none;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 300ms;
}
.title {
  margin-top: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.text {
  color: #d1c2c2;
  font-weight: 400;
}
.img {
  width: 275px;
  height: auto;
}

@media screen and (min-width: 375px) {
  .img {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  /* ++++++++++++ TABLET STYLES +++++++++++++++++++ */

  .img {
    width: 750px;
  }
}
@media screen and (min-width: 1158px) {
  /* ++++++++++++ DESCTOP STYLES +++++++++++++++++++ */

  .img {
    width: 850px;
  }
}
